.section {
  padding: var(--padding-section) 0;
}
.container {
  width: var(--container-width);
  margin: 0 auto;
}

#about {
  h2 {
    color: var(--title-text-color);
    font-family: Bebas Neue Cyrillic;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 55px;
  }
  span {
    color: var(--primary-color);
  }
}

.about-dis {
  color: var(--text-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 600px;
}

.about-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-content {
  flex: 0 0 60%; /* Текст занимает 60% */
}

.image-content {
  flex: 0 0 40%; /* Изображение занимает 40% */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
}

.btn-section {
  display: flex;
  gap: 20px; /* Расстояние между кнопками */
}

.button-container {
  position: relative;
  display: inline-block;
}

.custom-button {
  position: relative;
  color: #393939;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 23px 32px;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 2; /* Изменено на 2 */
  box-sizing: border-box;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 8px;
  background-color: transparent; /* Добавлено для прозрачного фона */
  border-bottom: none;
  border-right: none;
}

.button-container::after {
  content: "";
  position: absolute;
  top: 4px; /* Смещение для эффекта разделения */
  left: 4px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgb(113, 243, 253);
  z-index: 1; /* Изменено на 1 */
  transition: all 0.4s ease;
}

.button-container:hover::after {
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(82, 82, 82);
  border-right: 1px solid rgb(82, 82, 82);
}

.btn-price {
  border-radius: 8px;
  background: rgb(218, 238, 239);
  color: rgb(57, 57, 57);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 23px 81px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Расстояние между текстом и изображением */
}

.btn-price:hover {
  border: 1px solid rgb(82, 82, 82);
}

.about-footer {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.about-footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.about-text {
  color: #363636;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  max-width: 277px;
}

.about-circle {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.half-image-container {
	position: relative;
	width: 100%;
	height: 0;
}

.half-image {
	position: absolute;
	right: 0;
	top: -50%; /* Подстройте это значение в зависимости от высоты изображения */
	transform: translateY(-50%);
	width: 10%;
	height: auto;
}


.shape {
	position: relative;
	width: 316px;
}

.background-image {
	object-fit: cover;
}

.inner-image {
	position: absolute;
	top: 50%; /* Позиционирование по вертикали */
	left: 15%; /* Позиционирование по горизонтали */
	transform: translate(-50%, -50%); /* Центрирование изображения */
	width: 100px; /* Установите нужный размер внутреннего изображения */
	height: auto;
}

#services {
  h2 {
    color: rgb(69, 69, 69);
    font-family: Bebas Neue Cyrillic;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
		margin-bottom: 70px;
  }
}

.services-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 11px;
  position: relative;
}

.services-item-card {
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  background: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.333% - 22px);
  margin-bottom: 50px;
  transition: transform 1.2s ease-in-out, border 1.2s ease-in-out;
  border: 2px solid transparent;
}

/* Вертикальная линия сверху */
.services-item-card::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 1px;
  height: var(--line-height, 517px);
  background-color: var(--primary-color);
  transition: height 1.2s ease-in-out;
}

/* Вертикальная линия снизу */
.services-item-card::after {
  content: "";
  position: absolute;
  top: -7%;
  left: 50%;
  width: 1px;
  height: var(--small-line-height, 31px);
  background-color: var(--primary-color);
  transition: height 1.2s ease-in-out;
}



/* Убираем верхнюю линию у карточек верхнего ряда */
.services-item-card:nth-child(-n+3)::before {
  display: none;
}

/* Убираем нижнюю линию у карточек нижнего ряда */
.services-item-card:nth-last-child(-n+2)::after {
  display: none;
}

.services-item::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  width: 65%;
  height: 1px;
  background-color: var(--primary-color);
  transform: translateX(-50%);
}









h5 {
  color: var(--text-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
	margin-bottom: 20px;
}

.services-text {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  max-width: 357px;
	margin-top: 30px;
}

#advantages {
  position: relative;
  background: var(--primary-color);
  padding: var(--section-padding) 0;
  text-align: center;
  overflow: hidden;
  height: 400px;

  h2 {
    color: white;
    padding: 50px;
  }
}

#advantages::before,
#advantages::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px; /* Высота дуги */
  background: var(--white-color); /* Цвет фона секции сверху */
  border-radius: 50% / 100%;
  z-index: 1;
}

#advantages::before {
  top: -25px;
  background: white; /* Цвет верхнего перекрытия */
}

#advantages::after {
  bottom: -25px;
  background: white; /* Цвет нижнего перекрытия */
}

.line-with-image {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  position: relative;
}

.line-with-image::before {
  content: "";
  flex: 1;
  height: 1px;
  background: #000;
  margin-left: 10px;
}

.line-with-image img {
  margin-right: 10px;
  vertical-align: middle; /* Добавлено для выравнивания изображения по линии */
  position: relative;
  top: -22px; /* Подстройка для выравнивания по линии */
}
